<FlexboxLayout class="login-background page">
    <StackLayout width="100%" class="login-form nt-form">
        <Image class="logo" src="~/asset/images/logo.png"></Image>
        <Label text="Life For All" class="h1 text-center text-primary">
        </Label>
        <StackLayout>
            <Tabs> 
                <TabStrip>
                    <TabStripItem>
                        <Label text="Login"></Label>
                    </TabStripItem>
                    <TabStripItem>
                        <Label text="Register"></Label>
                    </TabStripItem>
                </TabStrip>
                <TabContentItem>
                    <StackLayout>
                        <GridLayout rows="auto, auto, auto">
                            <StackLayout row="0" class="nt-input">
                                <Label text="Email" class="text-left font-weight-bold m-b-5"></Label>
                                <TextField hint="Email" keyboardType="email" autocorrect="false"></TextField>
                            </StackLayout>
                            <StackLayout row="1" class="nt-input">
                                <Label text="Password" class="font-weight-bold m-b-5"></Label>
                                <TextField hint="Password" secure="true"></TextField>
                            </StackLayout>
                            <ActivityIndicator rowSpan="2" [busy]="false"></ActivityIndicator>
                        </GridLayout>
                        <Button class="btn btn-primary" (tap)="submitLogin()" text="Login"></Button>
                    </StackLayout>
                </TabContentItem>
                <TabContentItem>
                    <StackLayout>
                        <GridLayout rows="auto, auto, auto, auto, auto" >
                            <StackLayout row="0" class="nt-input">
                                <Label text="Full Name" class="text-left font-weight-bold m-b-5"></Label>
                                <TextField hint="Full Name (as on Aadhaar Card)" autocorrect="false"></TextField>
                            </StackLayout>
                            <StackLayout row="1" class="nt-input">
                                <Label text="Email" class="text-left font-weight-bold m-b-5"></Label>
                                <TextField hint="Email" keyboardType="email" autocorrect="false"></TextField>
                            </StackLayout>
                            <StackLayout row="2" class="nt-input">
                                <Label text="Mobile Number" class="text-left font-weight-bold m-b-5"></Label>
                                <TextField hint="Mobile Number" autocorrect="false"></TextField>
                            </StackLayout>
                            <StackLayout row="3" class="nt-input">
                                <Label text="Aadhaar Number" class="text-left font-weight-bold m-b-5"></Label>
                                <TextField hint="Aadhaar Number" autocorrect="false"></TextField>
                            </StackLayout>
                            <StackLayout row="4" class="nt-input">
                                <Label text="Password" class="font-weight-bold m-b-5"></Label>
                                <TextField hint="Password" secure="true"></TextField>
                            </StackLayout>
                            <ActivityIndicator rowSpan="5" [busy]="false"></ActivityIndicator>
                        </GridLayout>
                        <Button class="btn btn-primary" (tap)="submitRegister()" text="Register"></Button>
                    </StackLayout>
                </TabContentItem>
            </Tabs>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>
